{% extends "base.html" %}

{% block title %}  Register page {% endblock %}


{% block content %}  

    <form method = 'Post' action ="{{url_for('register')}}" style="max-width: 500px; margin: auto;"> 
       {{ form.csrf_token }}
      <div class = "row pt-5">
        <h1>Register Here</h1>
      </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
           {{form.name(class="form-control")}}
            
              <ul class = "errors">
                {%for error in form.name.errors %}
                  <li> {{error}}</li>
                  {% endfor %}
              </ul>
          </div>

          <div class="mb-3">
            <label for="Email" class="form-label">Email:</label>
            {{form.email(class="form-control")}}
              <ul class = "errors">
                {%for error in form.email.errors %}
                  <li> {{error}}</li>
                  {% endfor %}
              </ul>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            {{form.password(class="form-control")}}
              <ul class = "errors">
                {%for error in form.password.errors %}
                  <li> {{error}}</li>
                  {% endfor %}
              </ul>
          
          </div>
          <div class="mb-3">
            <label for="Confirm_password" class="form-label">Confirm Password:</label>
           {{form.confirm_password(class="form-control")}}
              <ul class = "errors">
                {%for error in form.confirm_password.errors %}
                  <li> {{error}}</li>
                  {% endfor %}
              </ul>
          </div>

        <div class ="d-flex justify-content-center mt-3"> 
            <button type="submit" class="btn btn-lg  btn-login w-50 ">Submit</button>    
        </div>
    </form>

    <style>
      .errors{
        color: red;
      }
    </style>



{% endblock %}